/* 
## Colors

### Primary


### Neutral


Note for text colors:

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity

## Typography

### Body Copy

- Font size: 13px

### Font

- Family: [Barlow Semi Condensed](https://fonts.google.com/specimen/Barlow+Semi+Condensed)
- Weights: 500, 600
 */
/* #region Defaults */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --ff-head: "Fraunces", serif;
  --ff-body: "Montserrat", sans-serif;
  --fz-1: calc(32 / 16 * 1rem);
  --fz-2: calc(14 / 16 * 1rem);
  --fz-3: calc(12 / 16 * 1rem);
  --s-500: calc(40 / 16 * 1rem);
  --s-300: calc(24 / 16 * 1rem);
  --s-200: calc(16 / 16 * 1rem);
  --s-150: calc(12 / 16 * 1rem);
  --s-100: calc(8 / 16 * 1rem);
  --s-50: calc(4 / 16 * 1rem);
}

*, *::before, *::after {
  box-sizing: inherit;
}

:not(ul, ol, li) {
  margin: 0;
}

body {
  width: inherit;
  height: inherit;
  font-optical-sizing: auto;
  font-family: var(--ff-body);
  background-color: var(--cream);
}

.attribution {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1rem;
  font-size: 0.6875rem;
  text-align: center;
  color: var(--aurometal-saurus);
}

.attribution a {
  transition: 0.4s;
  color: var(--gunmetal);
}

.attribution a:hover,
.attribution a:visited {
  color: var(--deep-aquamarine);
  text-decoration: none;
}

/* #endregion Defaults */
/* #region Reusable CSS */
.grid {
  display: grid;
}

/* #endregion Reusable CSS */
/* #region Mobile 375px */
main {
  width: inherit;
  height: inherit;
  display: grid;
  place-content: center;
}

/* #endregion Mobile 375px */
/* #region Extra Small 320px */
/* #endregion Extra Small 320px */
/* #region Desktop 768px */
/* Desktop Active */
/* #endregion Desktop 768px */
